
<h1>in the home page</h1>

<section id = "feed-posts" style="height: auto;">
    <h4>Posts</h4>
    <% if(locals.user){ %>
        <form action="/posts/post-create" id = "new-feed-post" method="POST">
            <textarea name= "content" cols="30" rows="3" required></textarea>
            <input type="submit" value="POST">
    
        </form>
    <% } %>
    

    <div id = "posts-list">
        <ul>
            <% for(post of posts){ %>
            
                <li>
                    <p>
                        <b><%= post.user.username %></b>
                        <br>
                        <%= post.content %>

                    </p>
                    <div class = "post-comment">
                        <% if(locals.user){ %>
                            <form action = "/comment/create-comment" method = "POST">
                                <input type="text" name = "content" placeholder="type the comment..." required></input>
                                <input type="hidden" name= "post" value= "<%= post._id %>">
                                <input type = "submit" value="Add comment">
                            </form>
                        <% } %>
                        <div class="post-comment-lists" style="background-color:rgb(147, 144, 144); padding:15px; margin-top: 10px; border-radius: 2rem; width: 80%;">
                            <h4>comments</h4>
                            <ul>
                                <% for(comment of post.comments){ %>
                                    <li>
                                        <p><%= comment.content %></p>                                    
                                        <span>commented by </span><b><%= comment.user.username %></b>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                        
                    </div>
                    
                </li>
                
            <% }%>
        </ul>
    </div>
</section>