<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>You are in the Profile page</h1>
    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.username %>" width="100">
    <br>
    <h1><%= profile_user.username %></h1>
    <h1><%= profile_user.email %></h1>

    <% if(user.id == profile_user.id){ %>
        <form action="/update/<%= user.id %>" method="POST" enctype="multipart/form-data">
            <input type = "text" name = "username" required value = "<%= profile_user.username %>" placeholder="Your name">
            <input type = "email" name = "email" required value = "<%= profile_user.email %>" placeholder="Your Email">
            <input type = "file" placeholder="profile picture" name = "avatar">
            <input type = "submit" value = "update">
        </form>
    <% } %>
    
</body>
</html>